<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYpzy2Di-8gXD5PXv41NaKYm4wlMlIoRc</string>
	<key>GCM_SENDER_ID</key>
	<string>571106756266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.traderSimulator</string>
	<key>PROJECT_ID</key>
	<string>adhd-planner-project</string>
	<key>STORAGE_BUCKET</key>
	<string>adhd-planner-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571106756266:ios:1cccf1a705a0c872b172d3</string>
</dict>
</plist>